<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>20</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>4</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>22</integer>
				</dict>
			</array>
		</dict>
		<string>level</string>
		<string>levelZeroData</string>
		<string>levelPath</string>
		<integer>0</integer>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>20</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>4</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>8</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>9</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>21</integer>
				</dict>
			</array>
		</dict>
		<string>levelOneData</string>
		<integer>1</integer>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>20</integer>
			</dict>
			<key>NS.keys</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>4</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>10</integer>
				</dict>
			</array>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>17</integer>
				</dict>
			</array>
		</dict>
		<string>sampleUrl</string>
		<integer>2</integer>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>14</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>15</integer>
				</dict>
			</array>
		</dict>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSArray</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSArray</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>NS.base</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>NS.relative</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
		</dict>
		<string>https://example.com/foo/bar?a=b#hash</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSURL</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSURL</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSDictionary</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSDictionary</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>14</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>13</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>root</key>
		<dict>
			<key>CF$UID</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>
