<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>data</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>typeBool</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>typeFloat</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>typeInt</key>
			<dict>
				<key>CF$UID</key>
				<integer>2</integer>
			</dict>
			<key>typeString</key>
			<dict>
				<key>CF$UID</key>
				<integer>3</integer>
			</dict>
		</dict>
		<integer>42</integer>
		<string>foo bar</string>
		<true/>
		<data>
		Zm9vYmFy
		</data>
		<real>3.1400000000000001</real>
		<dict>
			<key>$classname</key>
			<string>TestDummy</string>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>root</key>
		<dict>
			<key>CF$UID</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>
